<div class="container1">
<marquee><h3><a href="https://www.sonyliv.com/"> Watch the live streaming on SonyLiv digital partner with CricoMania.</a></h3></marquee>
</div>
<img src="../../../assets/IPL-2021.jpg" class="logo clickable" alt="" height="400px" width="1345px" >
<br>
<br>
<h2 class="text">Today's Match</h2>
<br>
<br>
<div class="container">
  
  <!-- <div class="row"> -->
      <div *ngFor="let match of matches">
      <div class="well"> 
        <h2 style="font-size: 20pt;" itemprop="title">{{match.name}}</h2>
        <h4>{{match.Venue}}</h4>
        <h4>{{match.Score}}</h4>
        <h4>{{match.Result}}</h4> 
        
      
   <!--- </div> -->  

        </div>
   
 </div>
         
      <div class="container3">
            <div class="promo-list">
                <div class="wrapper">
                    <ul class="promo-list__items">
            
            
                                <li class="promo-list__item">
                                        <h2>Title Sponsor</h2>
                <div class="promo-list__sponsor-wrapper" data-widget="lazy-load-images">
                        <a href="https://www.dream11.com/" target="_blank" rel="nofollow" class="promo-list__sponsor">
                          
                    <div class="js-lazy-load u-observable"
                        data-picture-in-view="false"
                        data-object-fit="false"
                        data-desktop-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=37&width=168"
                        data-desktop-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=74&width=336"
                        data-mobile-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=37&width=168"
                        data-mobile-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=74&width=336"
                        data-alt="Dream 11 - Title Sponsor">
                        <picture class="" data-photo-id=""> <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=37&amp;width=168, https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=74&amp;width=336 2x" media="(min-width: 640px)">  <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=37&amp;width=168, https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=74&amp;width=336 2x" media="(max-width: 640px)">  <img class="js-faded-image fade-in-on-load is-loaded" src="https://resources.platform.iplt20.com/photo-resources/2020/09/10/593768b3-7c94-4d09-93ce-964e04b62a73/Dream11.png?height=37&amp;width=168" alt="Dream 11 - Title Sponsor"> </picture>
                    </div>
                        </a>
                </div>
                   
            
         
            
            
            <div class="promo-list">
                <div class="wrapper">
                    <ul class="promo-list__items">
            
            
                               
                                        <h2>Official Broadcaster</h2>
                <div class="promo-list__sponsor-wrapper" data-widget="lazy-load-images">
                        <a href="https://www.hotstar.com/" target="_self" class="promo-list__sponsor">
                    <div class="js-lazy-load u-observable"
                        data-picture-in-view="false"
                        data-object-fit="false"
                        data-desktop-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=80&width=100"
                        data-desktop-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=160&width=200"
                        data-mobile-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=80&width=100"
                        data-mobile-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=160&width=200"
                        data-alt="Star Sports - Partner">
                        <picture class="" data-photo-id=""> <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=80&amp;width=100, https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=160&amp;width=200 2x" media="(min-width: 640px)">  <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=80&amp;width=100, https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=160&amp;width=200 2x" media="(max-width: 640px)">  <img class="js-faded-image fade-in-on-load is-loaded" src="https://resources.platform.iplt20.com/photo-resources/2020/09/10/d09cbee2-420c-4950-a25c-bedb0cb491bf/star-sports.png?height=80&amp;width=100" alt="Star Sports - Partner"> </picture>
                    </div>
                        </a>
                </div>
                
                                        <h2>Official Digital Streaming Partner</h2>
                <div class="promo-list__sponsor-wrapper" data-widget="lazy-load-images">
                        <a href="https://www.hotstar.com/" target="_blank" rel="nofollow" class="promo-list__sponsor">
                    <div class="js-lazy-load u-observable"
                        data-picture-in-view="false"
                        data-object-fit="false"
                        data-desktop-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=80&width=100"
                        data-desktop-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=160&width=200"
                        data-mobile-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=80&width=100"
                        data-mobile-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=160&width=200"
                        data-alt="Disney+ Hotstar - Sponsor">
                        <picture class="" data-photo-id=""> <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=80&amp;width=100, https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=160&amp;width=200 2x" media="(min-width: 640px)">  <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=80&amp;width=100, https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=160&amp;width=200 2x" media="(max-width: 640px)">  <img class="js-faded-image fade-in-on-load is-loaded" src="https://resources.platform.iplt20.com/photo-resources/2020/09/10/15265897-583c-4216-b643-9705df72b6fe/sponsor-hotstar.png?height=80&amp;width=100" alt="Disney+ Hotstar - Sponsor"> </picture>

                    </div>
                        </a>
                </div>
                                
            
            
                                
                                    <h2>Official Partners</h2>
                                    
                                        
                <div class="promo-list__sponsor-wrapper" data-widget="lazy-load-images">
                        <a href="https://altroz.tatamotors.com/" target="_self" class="promo-list__sponsor">
                    <div class="js-lazy-load u-observable"
                        data-picture-in-view="false"
                        data-object-fit="false"
                        data-desktop-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=34&width=100"
                        data-desktop-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=68&width=200"
                        data-mobile-img="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=34&width=100"
                        data-mobile-img-retina="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=68&width=200"
                        data-alt="Tata Altroz - Sponsor">
                        <picture class="" data-photo-id=""> <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=34&amp;width=100, https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=68&amp;width=200 2x" media="(min-width: 640px)">  <source srcset="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=34&amp;width=100, https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=68&amp;width=200 2x" media="(max-width: 640px)">  <img class="js-faded-image fade-in-on-load is-loaded" src="https://resources.platform.iplt20.com/photo-resources/2020/09/10/3f5baa05-362d-4dcd-8929-38a5f084929b/sponsor-altroz.png?height=34&amp;width=100" alt="Tata Altroz - Sponsor"> </picture>
                    </div>
                        </a>
                </div>
                                      
            
            
          
              
                                    
            
                
                                
            
            
                        
                    
                  
        
            
    