<div class="container1">
<div class="container">
  <div class="card">
  <div class="card__inner">
    <h2> Mumbai Indians</h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
    Owner:		Reliance Industries
    <br>
    Coach:	 Mahela Jayawardene
    <br>
     Venue:	 	Mumbai, Maharashtra, India
     <br>
    Captain :			Rohit Sharma</p>
  </div>
  </div>
  <div class="card1">
  <div class="card__inner1">
    <h2>Kings XI Punjab (KXIP))</h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
    Owner:		India Cements
    <br>
    Coach:		Anil Kumble
    <br>
     Venue:	 Mohali (Chandigarh CR), Punjab, India
     <br>
    Captain :			K. L. Rahul</p>
  </div>
  </div>
  <div class="card2">
  <div class="card__inner2">
    <h2>Chennai Super Kings (CSK)</h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
    Owner:		India Cements
    <br>
    Coach:			Stephen Fleming
    <br>
     Venue:			Chennai, Tamil Nadu, India
     <br>
    Captain :		Mahendra Singh Dhoni</p>
  </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container2">
  <div class="card3">
  <div class="card__inner3">
    <h2>Sunrisers Hyderabad </h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
    Owner:	Sun TV Network
    <br>
    Coach:		Trevor Bayliss
    <br>
     Venue:		Hyderabad, Telangana, India
     <br>
    Captain :	David Warner</p>

  </div>
  </div>
  <div class="card4">
  <div class="card__inner4">
    <h2>Royal Challengers Bangalore </h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
    Owner:  United Spirits Limited[1]
    <br>
    Coach:		Simon Katich
    <br>
     Venue:		Bangalore, Karnataka,
     <br>
    Captain :			Virat Kohli</p>
  </div>
  </div>
  <div class="card5">
  <div class="card__inner5">

  <h2>Kolkata Knight Riders (KKR)</h2>
      <br>
      <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
       Owner: Red Chillies Entertainment (55%)
        Mehta Group (45%)
      <br>
      Coach:	Eoin Morgan
      <br>
       Venue:	Kolkata, West Bengal, India
       <br>
      Captain :		Brendon McCullum</p>
  </div>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <!--Container 3-->
  <div class="container3">
    <div class="card6">
    <div class="card__inner6">
      <h2>Rajasthan Royals </h2>
      <br>
      <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 	
      Owner:  Amisha Hathiramani
      <br>
      Coach:Ricky Ponting
      <br>
       Venue:Feroz Shah Kotla Ground
       <br>
      Captain :	Steve Smith.</p>
      </div>
    </div>
    
    <div class="card7">
    <div class="card__inner7">
    <h2>Delhi Capitals </h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> Owner GMR Sports Pvt .Ltd & JSW Sports Pvt Ltd
    <br>
    Coach:Ricky Ponting
    <br>
     Venue:Feroz Shah Kotla Ground
     <br>
    Captain Shreyas Iyer.</p>
    </div>
    </div>
    <div class="card8">
    <div class="card__inner8">
    <h2>Gujrat Lions </h2>
    <br>
    <p style="font-size: 15px; font-family: Georgia, 'Times New Roman', Times, serif;"> 
    <br>
    Coach:Brad Hodge
    <br>
     Venue:Saurashtra Cricket Association Stadium, Rajkot 
     <br>
    Captain: Suresh Raina</p>
    
    </div>
    </div>
    </div>
  
</div>